$primary_hard: var(--primary_hard);
$secondary_hard: var(--secondary_hard);
$white_hard: var(--white_hard);
$black_hard: var(--black_hard);
// intro header
.introHeader {
  &::before {
    background-image: url('../assets/portfollio-header.webp');
  }
}
.card__img {
  img {
    aspect-ratio: 1;
  }
}
// /* ---- grid gallery ---- */
// .gallery__container {
//   flex-wrap: wrap;
//   padding: 0 0.25rem;
//   &--images {
//     padding: 0 0.25rem;
//   }
// }
// .card__img {
//   overflow: hidden;
//   width: 100%;
//   &:hover {
//     border: 2px solid $secondary_hard;
//     opacity: 0.8;
//   }
//   img {
//     transition: all 0.15s ease-out;
//     width: 100%;
//     object-fit: cover;
//     margin: 0.3rem 0;
//     vertical-align: middle;
//     &:hover {
//       transform: scale(1.13);
//     }
//   }
// }
// .card__img {
//   overflow: hidden;
//   //height: 100%;
//   &:hover {
//     border: 2px solid $secondary_hard;
//     opacity: 0.8;
//   }

//   img {
//     &:hover {
//       transform: scale(1.13);
//     }

//     transition: all 0.15s ease-out;
//     height: 100%;
//     object-fit: cover;
//   }
// }
// .card {
//   &:hover {
//     transform: scale(1.1);
//     z-index: 1 !important;
//     border: 4px solid $secondary_hard;
//   }
// }
